html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 80%;  /* Navbar takes up 80% of the page's width */
  padding: 10px 0;
  margin-bottom: 20px;
}

.main-content {
  width: 80%;  /* Align the width of main content with the navbar */
  text-align: center;
}

input, button {
  margin: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
